# HTTP SERVEUR
PORT=3000

# Base URL
BASE_URL=http://localhost

# Database URL
PG_URL=postgres://USER:MDP@localhost:5432/DATABASE

# JWT Secret ey
JWT_SECRET=here_your_secret_key

# Choose dev or production environment
NODE_ENV=my_environment